@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');
.FormContainer{
    position : relative;
    top : 0px;
    left : 50px;   
    width : 350px;
    height : 750px ;
    background-color: #1f2940;
    border-radius: 5px;
}
.ModelSelector{
    position : relative;
    top : 10px;
    left : 5px;
    width : 90%;
    text-align : left;

}
.ModelinputForm{
    position : relative;
    margin-top : 10px;
    margin-bottom : 10px;
    top : 0px; 
    left : 5px;
}
.Modelformexplain{
    position: relative;
    margin-right : 10px;
    
}
.custom-select{
    position: relative;
    left : 6px;
    border-radius: 0;
    background-color:#192038;
    border : 1px solid #101426;
    color : #fff;
}
#inputBox{
    height: 40px;
    width : 100%;
    background-color: #192038;
    border : 1px solid #101426;
    color : #fff;
}
.SwitchBox{
    position: relative;
    width : 200px;
    top : 0px;
    left : 0px;
}
.TrainStartButton{
    position: relative;
    top : 10px;
    left : 6px;
    width : 100px;
    height : 30px;
    font-size : 1rem;
    background-color : #192038;
    border : 1px solid #101426;
    border-radius : 10%;
    color : #fff;
}