.DashBoardContainer{
    position: absolute;
    top : 150px;
    left : 450px;
    height : 80%;
    width : 800px;
    color: white;
    background-color: #1f2940;
}
.DashBoardIndicator{
    position: relative;
    top: 0px;
    width : 100%;
    height: 40px;
    border-bottom: 1px solid black;
}
#inform{
    margin-top: 10px;
    margin-left : 10px;
    text-align: left;
    align-items: center;
    color: white;
    
    font-size : 20px;
}
.GPUStatus{
    width : 15%;
    height : 120px;
    background-color: black;
}
.paramsGrid{
    display: flex;
    flex-direction : row;
    width : 100%;
    height : 20%;
    background-color: aliceblue;
    
}
.modelName{
    display : flex;
    width : 33%;
    height: 1   00%;
    background-color: red;
}
.train_epochs{
    width:34%;
    height: 100%;
    background-color: violet;
}
#epochs_names{
    position: relative;
    text-align: center;
    position : relative;
    height: 15px;
    width:100%;
}
#current_epochs{
    position: relative;
    text-align: center;
    font-size: 50px;
    color : white;
}
.train_scalable_learning_rate{
    display : flex;
    width: 33%;
    height: 100%;
    background-color: green;
}
.train_loss{
    display : flex;
    flex-direction : row;
    position: relative;
    width:100%;
    height : 300px;
    background-color: blue;
}
#gpu_available_dot{
    position: relative;
    top : 15px;
    left :35px;
    width: 40%;
    height : 40%;
    border-radius: 50%;
    background-color: greenyellow;
}
#gpu_unavailable_dot{
    position: relative;
    top : 15px;
    left :35px;
    width: 40%;
    height : 40%;
    border-radius: 50%;
    background-color: red;
}