@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
.FormContainer{
    position : absolute;
    top : 300px;
    left : 200px;   
    width : 350px;
    height : 350px ;
    background-color: antiquewhite;
}
.ModelSelector{
    position : relative;
    top : 10px;
    left : 5px;
    width : 90%;
    text-align : left;

}
#inputForm{
    position : relative;
    margin-top : 10px;
    margin-bottom : 10px;
    top : 0px; 
    left : 5px;
}
#formexplain{
    position: relative;
    left : 5px;
    margin-right : 10px;
    
}
#welcome{
    position: relative;
    top: 100px;
    font-family: 'Black Han Sans', sans-serif;
    font-size : 64px;
    color : black; 
}
.SwitchBox{
    position: relative;
    width : 200px;
    top : 0px;
    left : 0px;
}
.submitButton{
    position: relative;
    top : 10px;
}